header {
  overflow: hidden;
}

.navbar .navbar-brand {
  color: #4592af;
}

.navbar .navbar-brand:hover {
  color: #226089;
}

#form-edit {
  margin-left: 20%;
  margin-top: 2%;
}

#form-edit input {
  width: 70%;
}

#form-edit select {
  width: 70%;
}

.create {
  position: absolute;
  right: 15px;
  top: 5px;
  padding: 0.3rem;
  border: 0.13rem solid #2cbee2;
  border-radius: 10px;
  color: black;
  font-size: 1.3rem;
  text-decoration: none;
}

.form-dev {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.1rem solid #aaaaaa;
  margin: 1rem;
  padding: 0.5rem;
}

.form-info {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.form-info label {
  width: 180px;
  margin-right: 10px;
  text-align: left;
}

.form-info input,
.form-info select,
.form-info textarea {
  width: 320px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: block;
  margin: 0 auto;
}

.header {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 0.5rem solid white;
  padding: 1rem;
  color: #000000;
  text-align: center;
}

.outside-contain {
  display: flex;
  justify-content: center;
}

.contain-img {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.2rem solid #999999;
  margin: 1rem;
  padding: 1rem;
  width: 500px;
  img {
    width: 100%;
  }
}

.contain-p-span {
  display: flex;
  gap: 2rem;
  margin: 1rem;
  margin-top: 2rem;
}

.contain-p-span span {
  margin-left: 0.8rem;
  width: 120px;
  font-weight: bold;
}

.contain-p-span p {
  width: 300px;
}

.create:hover {
  color: #ffffff;
  background-color: #2cbee2;
}

.btn-link {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  outline: inherit;
}

.banner {
  position: relative;
  z-index: -1;
  margin: -5px;
  height: 300px;
  background: #dddddd center center
    url("https://assets-lighthouse.s3.amazonaws.com/uploads/image/file/5720/restaurants-list-cover.jpg");
  background-size: cover;
  filter: blur(3px);
}

.search-bar .search-bar-outer {
  margin: 0 auto;
  max-width: 680px;
  background-color: #fce2cf;
  border-radius: 8px;
  padding: 20px 30px;
  border: 0;
  margin-top: -60px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
}

.search-bar .search-bar-inner h4 {
  color: #9b4b4b;
}

.form-control::placeholder {
  color: #aaaaaa;
  font-size: 0.8rem;
}

.btn-form {
  display: flex;
  margin-top: 3rem;
  a {
    width: 90px;
    height: 44px;
    line-height: 44px;
    border-radius: 10%;
    text-align: center;
    text-decoration: none;
    background-color: red;
    color: #ffffff;
  }
}

.btn-detail {
  a {
    text-decoration: none;
    color: #000000;
  }
}

.btn-form-edit {
  display: flex;
  margin-top: 3rem;
  margin-bottom: 2rem;
  a {
    width: 75px;
    height: 44px;
    line-height: 44px;
    border-radius: 10%;
    text-align: center;
    text-decoration: none;
    background-color: red;
    color: #ffffff;
  }
}

.btn-major {
  background-color: #9b4b4b;
  color: white;
}

.form-control:focus {
  box-shadow: none;
  border-color: #ced4da;
}

.card {
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 1.5rem;
}

.card img {
  height: 180px;
}

.card-title {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.restaurant-category {
  color: #666666;
  font-size: 0.8rem;
}

.restaurant-show-title {
  position: relative;
  top: -100px;
  color: white;
  text-align: center;
  font-size: 3rem;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.crud {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.icons {
  display: flex;
  gap: 0.8rem;
  /* icon間距 */
}

.icons:hover {
  cursor: pointer;
}
.text-secondary {
  color: grey;
  text-decoration: none;
}

@media screen and (max-width: 992px) {
  .card img {
    height: 115px;
  }
}

@media screen and (max-width: 768px) {
  .restaurant-show-title {
    font-size: 2rem;
  }
}

@media screen and (max-width: 575px) {
  .card img {
    height: auto;
  }
}
